*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
}
.logotipo-svg{ /* estilização da posição e tamanho da logo */
    position: relative;
    right:80px;
    width: 230px;
    height: 230px;
}
.menu-nav{ /* Estilização do menu de navegação*/
    position: fixed;
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    font-size:16px;  
    background-color: #2f2f2f;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-weight: 300;
}
.menu-nav ul{ /* estilização da lista*/
    display:flex;
    justify-content: center;
    list-style: none;
    gap:30px ;
    margin-left: 30px;
}
.menu-nav-list a{ /* estlização da ancora(a) */
    font-weight: 400;
    text-decoration: none;
    color: #f6f6f6f6;
}
.menu-nav-list li a:hover{ /* hover da o efeito quando passa o mouse por cima das aba do menu fazendo mudar de cor */
    transition-property: color;
    transition-duration: 1s;
    width: 5px;
    border:none;
    border-bottom: 2px solid #DEB887;
    color: #DEB887;
}
.imagem-inicial { /* estlização da imagem, arrumando o tamanho e o jeito que ela está */
    width: 100%;
    height: 650px;
    object-fit: cover; 
}
.texto-da-imagem{ /* estlização texto que esté em cima da imagem, usei o position absolutre com o top, para o texto ficar em cima da imagem   */
    position: absolute;
    top: 150px;
    color: #f6f6f6f6;
    text-align: center;
    padding: 50px;
}
.texto-da-imagem h1{/* estilização somente do h1 ou seja "a melhor comida da cidade"*/
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 50px;
}
.texto-da-imagem p{ /*estilização do texto menor somente o p */
    font-size: 20px;
    
}
.texto-da-imagem span{/* chamo a span aqui para poder aplicar outra cor diferente nas palavras "da cidade" */
    color:#DEB887 ;
}




