* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;

  background-image: url(/assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-attachment: fixed;
  background-size: cover;
}
.logotipo-svg {
  /* estilização da posição e tamanho da logo */
  position: relative;
  right: 80px;
  width: 230px;
  height: 230px;
}
.menu-nav {
  /* Estilização do menu de navegação*/
  position: fixed;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  font-size: 16px;
  background-color: #2f2f2f;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 300;
}
.menu-nav ul {
  /* estilização da lista*/
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  margin-left: 30px;
}
.menu-nav-list a {
  /* estlização da ancora(a) */
  font-weight: 400;
  text-decoration: none;
  color: #f6f6f6f6;
}
.menu-nav-list li a:hover {
  /* hover da o efeito quando passa o mouse por cima das aba do menu fazendo mudar de cor */
  transition-property: color;
  transition-duration: 1s;
  width: 5px;
  border: none;
  border-bottom: 2px solid #deb887;
  color: #deb887;
}
.inicio-pagina {
  display: flex;
}
.imagem-inicial {
  /* estlização da imagem, arrumando o tamanho e o jeito que ela está */
  width: 70%;
  background-size: cover;
  height: 500px;
}
.texto-da-imagem {
  /* estlização texto que esté do lado da imagem */
  background-color: rgba(0, 0, 0, 0.5);
  color: #f6f6f6f6;
  text-align: center;
  padding-top: 90px;
  height: 500px;
  width: 30%;
}
.texto-da-imagem h1 {
  /* estilização somente do h1 ou seja "a melhor comida da cidade"*/
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 50px;
}
.texto-da-imagem p {
  /*estilização do texto menor somente o p */
  font-size: 25px;
}
.texto-da-imagem span {
  /* chamo a span aqui para poder aplicar outra cor diferente nas palavras "da cidade" */
  color: #deb887;
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
.pratos-principais {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 800px;
  padding: 20px;
  background-color: Rgba(0, 0, 0, 0.3);
  color: #000000;
}
.pratos-principais h2 {
  color: #f6f6f6f6;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 300;
  padding-top: 20px;
}
.prato-risoto-camarao,
.prato-feijoada,
.prato-file {
  text-align: center;
  background-color: #f6f6f6f6;
  border-radius: 22px 0 0 0;
  width: 380px;
  height: 100%;
}
.pratos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.img-risoto-camarao,
.img-feijoada,
.img-file {
  width: 100%;
  height: 350px;
  border-radius: 20px 0 0 0;
  border: none;
}
figcaption {
  padding: 15px;
  text-align: center;
}
figcaption h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
